* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* 
    DEFAULT COLORS:

    twitter: #1da1f2
    github: #0c2636
    instagram: #c13584
    youtube: #ff0000
    tik-tok: #000
  */
  --bg-color: rgba(0, 0, 0, 0.8);
  --bg-icon-color: #fff;
  --twitter-color: #1da1f2;
  --git-hub-color: #0c2636;
  --instagram-color: #c13584;
  --youtube-color: #ff0000;
  --tik-tok-color: #000;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--bg-color);
}

.social-media-icons {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}

li {
list-style: none;
background: var(--bg-icon-color);
border-radius: 8px;
padding: 0.5rem;
}

li a {
  text-decoration: none;
}

ion-icon {
  width: 32px;
  height: 32px;
}

ion-icon[name="logo-twitter"]{
  color:var(--twitter-color);
}

ion-icon[name="logo-github"]{
  color: var(--git-hub-color);
}

ion-icon[name="logo-instagram"]{
  color: var(--instagram-color);
}

ion-icon[name="logo-youtube"]{
  color: var(--youtube-color);
}

ion-icon[name="logo-tiktok"]{
  color: var(--tik-tok-color);
}
